.popular-items {
  display: flex;
}

.popular-items a {
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

strong {
  color: black;
}
