* {
  font-family: HindSiliguri;
}

img {
  width: 250px;
}

a {
  border: solid 1px black;
  border-radius: 50px;
  padding: 3px 13px 3px 13px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.info-link {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  text-decoration: underline;
  color: blue !important;
}

@font-face {
  font-family: HindSiliguri;
  src: url(/Fonts/Hind_Siliguri/HindSiliguri-Medium.ttf);
}
